html, body{
    margin: 0;
    padding: 0;
}
body {
    background: url('https://images6.alphacoders.com/401/401025.jpg');
    background-size: cover
}

.header{
    display: flex;
    flex-direction: column;
    float: left; 
    width: fit-content;
    position: relative;
    align-items: center;

}

.dragon-ball{
    max-width: 60%;
    margin: 0 auto;
    
}

.dragon-ball:hover{
    animation: shake 0.5s; 
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.wrapmeup {
    max-width: 960px;
    margin: auto;
}

.instructions{
    background-color: rgba(255, 68, 0, 0.603);
    color: rgba(255, 255, 0, 1);
    font-size: 20px;
    text-shadow: 5px 5px 0 lightblue) ;
    padding: 10px;
    overflow: hidden;
    border: 6px double;
    border-radius: 20px;
    font-family: 'Suez One', serif;
   }
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0)); 
}
.hint{
    font-size: 12px;
    text-align: center;
}

.containcell {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.cell{
    margin: 0 auto;
    display: block;
}

.power-level{
    margin: 0 auto;
    background-color: rgba(0, 255, 64, 0.603);
    color: rgba(255, 255, 0, 1);
    font-size: 20px;
    padding: 10px;
    overflow: hidden;
    border: 0px double;
    border-radius: 20px;
    font-family: 'Suez One', serif;
    width: fit-content;

}
.fighters{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.goku {
    display: flex;
    max-width: 200px;
    height: auto;

    }

.vegeta {
    display: flex;
    max-width: 200px;
    height: auto;

   }

.krillin {
    display: flex;
    max-width: 200px;
    height: auto;

    }

.piccolo {
    display: flex;
    max-width: 200px;
    height: auto;

   }

#number-to-guess{
    color: #A109AB;
    font-size: 20px;
    
}

.scoreboard {
    background-color: rgba(255, 68, 0, 0.603);
    color: rgb(255, 255, 68);
    font-size: 20px;
    text-shadow: 5px 5px 0 lightblue) ;
    padding: 5px;
    overflow: hidden;
    border: 6px double;
    border-radius: 20px;
    font-family: 'Suez One', serif;
}

.total {
    margin: 0 auto;
    background-color: rgb(53, 53, 47, 0.603);
    color: rgba(23, 247, 255, 1);
    font-size: 20px;
    text-shadow: 5px 5px 0 lightblue);
    padding: 10px;
    overflow: hidden;
    border: 0px double;
    border-radius: 20px;
    font-family: 'Suez One', serif;
    text-align: center;
    justify-content: center;
    width: fit-content;
}

#total-score{
    color: rgba(255, 68, 0, 1);
    font-size: 20px;
  
}

a {
    display: grid;
}

/* Media Query*/
@media screen and (max-width: 640px) {
    .header{
        width: 100%;
        padding-bottom: 15px;
    }
   .goku{
       width: 110px;
       height: auto;
   }
   .krillin{
       width: 85px;
       height: auto;
   }
   .vegeta{
       width:85px;
       height: auto;
   }
   .piccolo{
       width:75px;
       height: auto;
   }
}